*{
    margin:0;
    padding:0;
    font-family: 'Outfit', sans-serif;
}

.imgtext1{
    height:680px;
}

.div1{
    float:right;
    margin-top:16%;
    width:34%;
    color:#8FAC6A;
    font-size:20px;
 }

.imgtext2{
    background-color:#F7CA9C;
    height:600px;
    padding-left:12%;
}

.div2{
    float:left;
    margin-top:8%;
    margin-left:6%;
    #background-color:green;
    width:50%;
    color:#FFFFFF;
    font-size:20px;
}

.button1{
    margin-top:15px;
    width:20%;
    height:50px;
    border:none;
    outline:none;
    border-radius:10px;
    font-size:18px;
    color:#F7CA9C;
    background-color:#FFFFFF;
    transition: 0.2s;
}

.button1:hover{
    cursor:pointer;
    background-color:#F6B26B;
    color: #FFFFFF;
}

.button1:focus{
    border:none;
    outline:none;
}

.imgtext3{
    height:700px;
}

.div3{
    float:left;
    margin-left:9%;
    margin-top:6%;
    text-align:center;
    width:37%;
    color:#8FAC6A;
    font-size:20px;
}

.button2{
    width:25%;
    height:50px;
    border:none;
    outline:none;
    border-radius:10px;
    font-size:18px;
    color:#FFFFFF;
    background-color:#8FAC6A;
    transition: 0.2s;
}

.button2:hover{
    cursor:pointer;
    background-color:#3F6A10;
    color:#FFFFFF;
}

.button2:focus{
    border:none;
    outline:none;
}

.bottom{
    color:#949494;
    background-color:#F0F0F0;
    height:160px;
    padding-top:35px;
    text-align:center;
    font-size:18px;
    font-weight:lighter;
    padding-left:8%;
    padding-right:8%;
}

.bottomlink{
    font-weight:lighter;
    margin-left:15px;
    margin-right:15px;
    color:#949494;
    text-decoration:none;
}

.bottomlink:hover{
    color:#515151;
    text-decoration:none;
}

hr{
    margin-top:12px;
    margin-bottom:12px;
    height:2px;
    background-color:#BEBEBE;
}

.reveal{
    position:relative;
    transform:translateY(120px);
    opacity:0;
    transition:2s all ease;
}

.reveal.active{
    transform:translateY(0);
    opacity:1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.toast.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

