{% extends "base.html" %}
{% block title %}Retrieve Users{% endblock %}

{% block logbtn %}

    {% if session==True %}

       <div class="btn btn-group ml-auto">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{name}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item form-inline my-2 my-lg-0" href="/profile">User Profile</a>
                <a class="dropdown-item form-inline my-2 my-lg-0" href="/logout">Log out</a>
                <a class="dropdown-item form-inline my-2 my-lg-0" href="/resetpassword">Change Password</a>
            </div>
        </div>
    {% else %}
        <div class="ml-auto">
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" id="logbtn">Log in</a>
        </div>
    {% endif %}

{% endblock %}




{% block content %}

</div>
<h1>Chatbot Admin</h1>
<a href="chatbot_add">Add/Modify questions from Chatbot</a><br>
<a href="chatbot_delete">Delete questions from Chatbot</a>

<div class="accordion-body"><h1>Send promotional emails</h1>
        <form method="POST">
          <button type="submit" formaction="/send_emails" class="w-100 btn btn-success">Send Emails</button>
        </form>
      </div>
{% endblock %}
