{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block body %}

<style>
        .background-image {
        background-image: url("{{ url_for('static', filename='loginbg.jpg') }}");
        background-size: cover;
    }
    </style>
{% from "includes/_formHelper.html" import render_field %}

<div class="container justify-content-center" style="height:80vh;">
  <div class="row justify-content-center" style="position: relative; top:20%;">
        <div class="col-4 align-items-center border border-dark rounded bg-light">
                <form method="POST" action="">
                    <div class="container">
                        <div class="row justify-content-center">
                            <h2 style="margin-top: 15px;">Sign Up</h2>
                        </div>
                        <div class="form-group">
                            {{ render_field(form.name, class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.email, class="form-control") }}
                            <span class="text-danger">{{ emailused }}</span>
                        </div>
                        <div class="form-group">
                            {{ render_field(form.password, class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.repeatpassword, class="form-control") }}
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button type="submit" value="Submit" style="margin-bottom: 20px;" class="btn btn-primary d-flex justify-content-center">Continue</button>
                            </div>

                        </div>

                            </div>
                    </div>
                </form>
        </div>
  </div>
</div>
{% endblock %}
